@font-face {
    font-family: 'Metric';
    src: url('Metric-Semibold.eot');
    src: url('Metric-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Metric-Semibold.woff2') format('woff2'),
        url('Metric-Semibold.woff') format('woff'),
        url('Metric-Semibold.ttf') format('truetype'),
        url('Metric-Semibold.svg#Metric-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

