@font-face {
    font-family: 'Metric';
    src: url('Metric-Regular.eot');
    src: url('Metric-Regular.eot?#iefix') format('embedded-opentype'),
        url('Metric-Regular.woff2') format('woff2'),
        url('Metric-Regular.woff') format('woff'),
        url('Metric-Regular.ttf') format('truetype'),
        url('Metric-Regular.svg#Metric-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

